@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', sans-serif;
}

.test {
    background-color: #333;
}

.alert-danger {
    background-color: #d62728;
    color: #ffffff;
    border: 1px #67cdcc solid;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
}
